.telemetry{
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    outline: 0.5em;
    text-align: center;
    margin: 1em;
}

.voltage_container {
    position: absolute;
    width: 100%;
    top: auto;
    bottom: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.control-inputs {
    width: calc(100% - 2em);
    height: 10em;
}

.voltage {
    position: absolute;
    right: 0;
    width: calc(50% - 2em);
    height: 15em;
}

.temperature_graphs {
    position: relative;
    left: 0;
    width: calc(50% - 2em);
    height: 2em;
}
.temperature_container {
    position: absolute;
    left: 0;
    width: calc(50% - 2em);
    /* height: 5em; */
    border: 1px solid lightgrey;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

.temp-row {
  align-items: left;
  width: 100%;
  column-count: 5;
  column-width: 5px;
}

.temp-num {
  width: 100%;
  left: 0;
}
